# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
release-pom.xml
*.iml
.idea/
.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# Log files
*.log

# Environment variables
.env
